.movie-card-container {
  width: 300px;
  padding: 20px;
}

.movie-card-container:hover {
  transition: transform 0.2s;
  cursor: pointer;
  transform: scale(1.1);
}

.infoTop {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5px;
}

.rate {
  color: green;
  margin-left: 10px;
}
